Repository Bollemii/Master-thesis-Files-indexer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-backend, lint-frontend, test-backend, test-frontend, build-frontend, build-backend

lint-backend:
  allow_failure: true
  stage: lint
  image: ghcr.io/astral-sh/uv:python3.13-bookworm-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv
    paths:
    - ${UV_CACHE_DIR}
  variables:
    UV_CACHE_DIR: ${UV_CACHE_DIR}
    UV_SYSTEM_PYTHON: 1
  before_script:
  - cd backend
  - uv pip install flake8 black wheel
  script:
  ...

lint-frontend:
  allow_failure: true
  stage: lint
  image: node:20-alpine
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - frontend/node_modules
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm run lint

test-backend:
  stage: test
  image: ghcr.io/astral-sh/uv:python3.13-bookworm-slim
  cache:
    key: ${CI_COMMIT_REF_SLUG}-uv
    paths:
    - ${UV_CACHE_DIR}
  variables:
    UV_CACHE_DIR: ${UV_CACHE_DIR}
    UV_SYSTEM_PYTHON: 1
  before_script:
  - cd backend
  - uv pip install wheel
  - uv pip install -r requirements.txt
  script:
  ...

test-frontend:
  stage: test
  image: node:20-alpine
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - frontend/node_modules
  before_script:
  - cd frontend
  - npm ci
  script:
  - npm test

build-frontend:
  image: docker:24.0
  services:
  - docker:24.0-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  - docker context create builder-context
  ...

build-backend:
  image: docker:24.0
  services:
  - docker:24.0-dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
  - docker context create builder-context
  ...

Update ci-cd
  .gitlab-ci.yml
Due: none

Added use case diagram
  README.md
  doc/UseCases.png
  doc/use-cases.pu
Due: none

Update use case
  doc/UseCases.png
  doc/use-cases.pu
Due: none

Add major topic word distributions chart and improve topic display logic
  frontend/src/components/CorpusDetail.tsx
Due: lint-frontend, test-frontend, build-frontend

fix documents loading
  README.md
  backend/app/config.py
  docker-compose.yml
Due: lint-backend, test-backend, build-backend

Fix config
  backend/app/config.py
Due: lint-backend, test-backend, build-backend

Added new images do README
  README.md
  doc/images/document_detail.png
  doc/images/document_detail_2.png
Due: none

Update README
  README.md
Due: none

README & setting nb topics
  .env
  README.md
  backend/app/TopicModeling/topic_modeling_v3.py
  backend/app/config.py
  backend/app/utils/process_documents.py
  docker-compose.yml
Due: lint-backend, test-backend, build-backend

make it running
  .env
  .gitignore
  docker-compose.yml
Due: none

replace relationnal database by graph database
  .env
  .gitignore
  backend/app/config.py
  backend/app/database.py
  backend/app/database/__init__.py
  backend/app/database/documents.py
  backend/app/database/main.py
  backend/app/database/models.py
  backend/app/database/topics.py
  backend/app/database/users.py
  backend/app/init_database.py
  backend/app/main.py
  backend/app/routers/documents.py
  backend/app/routers/users.py
  backend/app/test_main.py
  backend/app/utils/preview.py
  backend/app/utils/process_documents.py
  backend/app/utils/security.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  docker-compose.yml
Due: lint-backend, test-backend, build-backend

remove postgresql & tests
  .env
  .gitlab-ci.yml
  backend/app/config.py
  backend/app/init_database.py
  backend/app/test_main.py
  docker-compose.yml
Due: lint-backend, test-backend, build-backend

add processing files logs print
  backend/app/TopicModeling/Reader.py
  backend/app/TopicModeling/miner_v2.py
  backend/app/TopicModeling/topic_modeling_v3.py
  backend/app/init_database.py
  backend/app/utils/process_documents.py
  backend/app/utils/process_manager.py
Due: lint-backend, test-backend, build-backend

pimp errors & fix register
  backend/app/TopicModeling/topic_modeling_v3.py
  backend/app/config.py
  backend/app/database/documents.py
  backend/app/database/topics.py
  backend/app/database/users.py
  backend/app/routers/documents.py
  backend/app/routers/users.py
  backend/app/utils/process_documents.py
  backend/app/utils/process_manager.py
  frontend/src/pages/Dashboard.tsx
Due: lint-backend, lint-frontend, test-backend, test-frontend, build-frontend, build-backend

filter link document topic greater than 1 percent
  backend/app/utils/process_documents.py
Due: lint-backend, test-backend, build-backend

add chunk and embedding process
  .env
  backend/app/TopicModeling/Reader.py
  backend/app/TopicModeling/topic_modeling_v3.py
  backend/app/config.py
  backend/app/database/documents.py
  backend/app/init_database.py
  backend/app/routers/documents.py
  backend/app/utils/ai_model.py
  backend/app/utils/document_transformer.py
  backend/app/utils/process_documents.py
  backend/app/utils/process_manager.py
  backend/app/utils/theme_naming.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  docker-compose.yml
  entrypoint.sh
Due: lint-backend, test-backend, build-backend

chunk and embed upload file
  backend/app/TopicModeling/miner_v2.py
  backend/app/database/documents.py
  backend/app/routers/documents.py
  backend/app/utils/ai_model.py
  backend/app/utils/document_transformer.py
Due: lint-backend, test-backend, build-backend

set tesseract and libreoffice config in settings
  backend/app/TopicModeling/topic_modeling_v3.py
  backend/app/config.py
  backend/app/routers/documents.py
  backend/app/utils/process_documents.py
Due: lint-backend, test-backend, build-backend

chunk and embed on start + index
  .env
  backend/app/database/documents.py
  backend/app/init_database.py
  backend/app/routers/documents.py
  backend/app/utils/ai_model.py
  backend/app/utils/document_transformer.py
  docker-compose.yml
Due: lint-backend, test-backend, build-backend

retrieval and answer question
  backend/app/database/documents.py
  backend/app/database/models.py
  backend/app/routers/documents.py
  backend/app/utils/ai_model.py
Due: lint-backend, test-backend, build-backend

remove reading in topic processing
  backend/app/TopicModeling/topic_modeling_v3.py
  backend/app/database/documents.py
  backend/app/database/models.py
  backend/app/routers/documents.py
  backend/app/schemas.py
  backend/app/utils/ai_model.py
  backend/app/utils/process_documents.py
Due: lint-backend, test-backend, build-backend

show infos
  .env
  backend/Dockerfile
  backend/app/config.py
  backend/app/database/documents.py
  backend/app/init_database.py
  backend/app/main.py
  backend/app/routers/documents.py
  backend/app/schemas.py
  backend/app/utils/document_transformer.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CorpusList.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/types/api.ts
Due: lint-backend, lint-frontend, test-backend, test-frontend, build-frontend, build-backend

add chatbot page & minor fixes
  backend/app/config.py
  backend/app/database/topics.py
  backend/app/init_database.py
  backend/app/routers/documents.py
  backend/app/utils/preview.py
  backend/app/utils/process_documents.py
  backend/app/utils/process_manager.py
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/components/TopBar.tsx
  frontend/src/components/TopBarDashboard.tsx
  frontend/src/pages/Chatbot.tsx
  frontend/src/pages/Dashboard.tsx
Due: lint-backend, lint-frontend, test-backend, test-frontend, build-frontend, build-backend

fix embeddings & chatbot
  .env
  backend/app/config.py
  backend/app/database/documents.py
  backend/app/main.py
  backend/app/routers/chatbot.py
  backend/app/routers/documents.py
  backend/app/schemas.py
  backend/app/utils/ai_model.py
  backend/app/utils/document_transformer.py
  docker-compose.yml
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/ChatbotButton.tsx
  frontend/src/components/ChatbotConversation.tsx
  frontend/src/pages/Chatbot.tsx
  frontend/src/pages/ChatbotPage.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/tailwind.config.js
Due: lint-backend, lint-frontend, test-backend, test-frontend, build-frontend, build-backend

fixes
  backend/app/database/documents.py
  backend/app/utils/ai_model.py
  backend/app/utils/process_documents.py
  frontend/src/components/ChatbotConversation.tsx
  frontend/src/components/CorpusList.tsx
Due: lint-backend, lint-frontend, test-backend, test-frontend, build-frontend, build-backend

delete exceed topics to prepare topics number choice
  backend/app/database/topics.py
  backend/app/utils/process_documents.py
  docker-compose.yml
Due: lint-backend, test-backend, build-backend

light css fix & README branches
  README.md
  frontend/src/components/ChatbotConversation.tsx
Due: lint-frontend, test-frontend, build-frontend

fix nginx timeout & chatbot chat
  docker-compose.yml
  frontend/nginx.conf
  frontend/src/components/ChatbotConversation.tsx
Due: lint-frontend, test-frontend, build-frontend

normalize topic-words matrix weights
  backend/app/TopicModeling/topic_modeling_v3.py
Due: lint-backend, test-backend, build-backend

add dashboard filters for topic and processed
  backend/app/database/documents.py
  backend/app/main.py
  backend/app/routers/documents.py
  backend/app/routers/topics.py
  backend/app/schemas.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatbotButton.tsx
  frontend/src/components/CorpusList.tsx
  frontend/src/components/DashboardFilters.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/types/api.ts
Due: lint-backend, lint-frontend, test-backend, test-frontend, build-frontend, build-backend

good version
  backend/app/routers/chatbot.py
  backend/app/utils/background_tasks_manager.py
  frontend/src/App.tsx
  frontend/src/components/ChatbotConversation.tsx
  frontend/src/contexts/AppContext.tsx
  frontend/src/hooks/useChatbotPolling.ts
Due: lint-backend, lint-frontend, test-backend, test-frontend, build-frontend, build-backend

use filters in context
  frontend/src/App.tsx
  frontend/src/components/CorpusList.tsx
  frontend/src/components/DashboardFilters.tsx
  frontend/src/contexts/DashboardFiltersContext.tsx
  frontend/src/contexts/DashboardFiltersProvider.tsx
  frontend/src/contexts/ThemeProvider.tsx
  frontend/src/pages/Dashboard.tsx
Due: lint-frontend, test-frontend, build-frontend

optimise process status poll
  backend/app/routers/chatbot.py
  frontend/src/components/CorpusList.tsx
  frontend/src/components/DashboardFilters.tsx
  frontend/src/contexts/DashboardFiltersContext.tsx
  frontend/src/contexts/DashboardFiltersProvider.tsx
  frontend/src/pages/Dashboard.tsx
Due: lint-backend, lint-frontend, test-backend, test-frontend, build-frontend, build-backend

remove unused import
  backend/app/routers/chatbot.py
Due: lint-backend, test-backend, build-backend

Path conditions:
  lint-backend: any of: backend/**/*
  lint-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  build-backend: any of: backend/**/*
